<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.399211891487-s1n4sear33h8913h731i0dh697umq292</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ABeeZee-Regular.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-ExtraBold.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-ExtraBold.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSansDisplay-Medium.ttf</string>
	</array>
</dict>
</plist>
